@model _MyContentViewModel

    @{
        foreach (Tool tool in Model.Tools)
        {
            <tr>
                <td>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img class="rounded d-block img" width="100" height="80" src="@tool.Picture_1">
                    </div>
                </td>
                <td class="text-center align-middle">
                    <div>
                        <span style="display: block;">@tool.Name</span>
                        <span style="display: block;">@tool.ShortDescription</span>
                    </div>
                </td>
                <td class="text-center align-middle">
                    @{
                        var toolGroup = Model.ToolGroups.FirstOrDefault(tg => tg.Id == tool.ToolGroup);
                        if (toolGroup != null)
                        {
                            @toolGroup.Name
                        }
                    }
                </td>
                <td class="text-center align-middle">@tool.Owner</td>
                <td class="text-center align-middle">@tool.LastChangesDate.ToShortDateString()</td>
            </tr>
        }
    }
