@model _ContentDeliveryModel

        @{
            foreach(Tool tool in Model.Tools)
            {
                <tr>
                    <td>@tool.Name</td>
                    <td>@tool.ShortDescription</td>
                    <td>
                        @{
                            // Den Namen der Toolgruppe anhand der ID abrufen
                            var toolGroup = Model.ToolGroups.FirstOrDefault(tg => tg.Id == tool.ToolGroup);
                            if (toolGroup != null)
                            {
                                @toolGroup.Name
                            }
                        }
                    </td>
                    <td style="width: 150px">
                        <a class="btn btnGreen" asp-route-id="@tool.Id" asp-controller="ContentView" asp-action="CreateOrEditTool"><i class="fas fa-pencil"></i></a>
                <button type="button" class="btn btnDanger popconfirm-toggle" onclick="deleteToolFromDb(@tool.Id)" data-mdb-message="Möchtest du das Tool @tool.Name wirklich löschen?" data-mdb-id="@tool.Id"><i class="far fa-trash-can"></i></button>
                    </td>
                </tr>
            }
        }