@model _ContentDeliveryModel

<partial name="_HeaderSectionBackgroundPartial" />

<div class="container">
    <main role="main" class="my-5">
        <div class="accordion mb-5" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button comnuyTextColorGrey"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                        Filter
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="col-4">
                            <label for="toolTypeSelectDropDown">Kategorie:</label>
                            <select id="toolTypeSelectDropDown" class="form-control form-select" onchange="reloadIndexPage(this.value)">
                                @foreach (var toolGroup in Model.ToolGroups)
                                {
                                    @if (toolGroup.Id == Model.SelectedToolGroupId)
                                    {
                                        <option value="@toolGroup.Id" selected>@toolGroup.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@toolGroup.Id">@toolGroup.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table id="contentToolTable" class="stripe hover" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Bild</th>
                    <th class="text-center">Typ</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Kurzbeschreibung</th>
                </tr>
            </thead>
            <tbody>
                <partial name="_ContentToolPartial" />
            </tbody>
        </table>
    </main>
</div>

@section scripts {
    <script>
        new DataTable('#contentToolTable', {
            order: [[0, 'asc']],
            pagingType: 'full_numbers',
            scrollX: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/de-DE.json'
            }
        });

        function reloadIndexPage(selectedType) {
            var url = '@Url.Action("Index")' + '?selectedType=' + selectedType;
            window.location.href = url;
        }

        function showToolDetail(toolId) {
            var url = '@Url.Action("ShowToolDetail")' + '?toolId=' + toolId;
            window.location.href = url;
        }
    </script>
}

