@model _MyContentViewModel

<!--Section: Design Block-->
<div class="container mb-5 pt-5" style="margin-top: 58px">

    <section class="mb-5">

        <div class="text-center">
            <i class="fas far fa-record-vinyl fa-2x mb-3 comnuyTextColorGreen"></i>
            <h3 class="mb-5">Zufällige Auswahl</h3>
        </div>

        <div class="row">
            @foreach (var tool in Model.RandomTools)
            {
                <div class="col-md-6 col-xl-3 mb-4 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="bg-image hover-overlay ripple d-flex justify-content-center" data-mdb-ripple-color="light">
                            <img class="img-fluid toolPicture" src="@tool.Picture_1" alt="Image placeholder">
                            <a asp-controller="ContentView" asp-action="ShowToolDetail" asp-route-toolId="@tool.Id" class="text-reset">
                                <div class="mask comnuyBackgroundColorHoverGrey"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">@tool.Name</h5>
                            <p class="card-text lead">@tool.LastChangesDate.Date.ToString("dd.MM.yyyy")</p>
                            <a asp-controller="ContentView" asp-action="ShowToolDetail" asp-route-toolId="@tool.Id" class="btn btnGreen mb-1">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </section>

</div>
@*<section class="mb-10">
    <div class="
          d-flex
          justify-content-between
          align-items-center align-items-xl-end
          border-bottom
          pb-4
          mb-5
        " style="border-bottom: 2px solid #f5f5f5 !important">
        <h2 class="fw-bold mb-0">Empfehlungen</h2>
        <h6 class="mb-0">
            <a asp-controller="ContentView" asp-action="Index" asp-route-selectedType="1">Alle Tools<i class="fas fa-angle-right fa-xs ms-1"></i></a>
        </h6>
    </div>
    <div class="row gx-md-5">
        @foreach (var tool in Model.RandomTools)
        {
            @if (Model.RandomTools.IndexOf(tool) == 0)
            {
                <div class="col-md-12 col-lg-4">
                    <div class="mb-5 mb-lg-0 text-center">
                        <div class="bg-image hover-overlay ripple rounded-5 mb-4 d-flex justify-content-center" data-mdb-ripple-color="light">
                            <img class="w-75 rounded-5 mx-auto" src="@tool.Picture_1"
                                 style="height: 225px; object-fit: scale-down" alt="Image placeholder" />
                            <a asp-controller="ContentView" asp-action="ShowToolDetail" asp-route-toolId="@tool.Id">
                                <div class="mask comnuyBackgroundColorHoverGrey"></div>
                            </a>
                        </div>
                        <h6 class="text-muted text-uppercase small pb-1">
                            <a asp-controller="ContentView" asp-action="ShowToolDetail" asp-route-toolId="@tool.Id" class="text-reset">@tool.Name</a>
                        </h6>
                        <h5 class="fw-bold mb-3">
                            <a asp-controller="ContentView" asp-action="ShowToolDetail" asp-route-toolId="@tool.Id" class="text-reset">@tool.ShortDescription</a>
                        </h5>
                    </div>
                </div>
            }
            else if (Model.RandomTools.IndexOf(tool) == 1)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="mb-5 mb-lg-0 text-center">
                        <div class="bg-image hover-overlay ripple rounded-5 mb-4 d-flex justify-content-center" data-mdb-ripple-color="light">
                            <img class="w-75 rounded-5 mx-auto" src="@tool.Picture_1"
                                 style="height: 225px; object-fit: scale-down" alt="Image placeholder" />
                            <a asp-controller="ContentView" asp-action="ShowToolDetail" asp-route-toolId="@tool.Id">
                                <div class="mask comnuyBackgroundColorHoverGrey"></div>
                            </a>
                        </div>
                        <h6 class="text-muted text-uppercase small pb-1">
                            <a asp-controller="ContentView" asp-action="ShowToolDetail" asp-route-toolId="@tool.Id" class="text-reset">@tool.Name</a>
                        </h6>
                        <h5 class="fw-bold mb-3">
                            <a asp-controller="ContentView" asp-action="ShowToolDetail" asp-route-toolId="@tool.Id" class="text-reset">
                                @tool.ShortDescription
                            </a>
                        </h5>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6 col-lg-4">
                    <div class="text-center">
                        <div class="bg-image hover-overlay ripple rounded-5 mb-4 d-flex justify-content-center" data-mdb-ripple-color="light">
                            <img class="w-75 rounded-5 mx-auto" src="@tool.Picture_1"
                                 style="height: 225px; object-fit: scale-down" alt="Image placeholder" />
                            <a asp-controller="ContentView" asp-action="ShowToolDetail" asp-route-toolId="@tool.Id">
                                <div class="mask comnuyBackgroundColorHoverGrey"></div>
                            </a>
                        </div>
                        <h6 class="text-muted text-uppercase small pb-1">
                            <a asp-controller="ContentView" asp-action="ShowToolDetail" asp-route-toolId="@tool.Id" class="text-reset">@tool.Name</a>
                        </h6>
                        <h5 class="fw-bold mb-3">
                            <a asp-controller="ContentView" asp-action="ShowToolDetail" asp-route-toolId="@tool.Id" class="text-reset">
                                @tool.ShortDescription
                            </a>
                        </h5>
                    </div>
                </div>
            }
        }
    </div>
</section>*@
<!--Section: Design Block-->
